body {
    font-size: 130%;
}

table {
    border-spacing: 0;
}

td {
    padding: 0 0.4rem;
}

// Layout
.main {
    display: grid;
    grid-template-columns: auto 3fr 1fr;
    column-gap: 1rem;
}

.view_chooser {
    padding: 1rem;
    background: #ddd;
}

.memory {
    padding: 1rem;
    background: #ddd;
}